body {
    margin: 0;
    padding: 0;
}

input {
    background: #FEC8B0;
}

button {
    background: #FEC8B0;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background: #E9967A;
}

td {
    padding: 6px;
}

.wrapper{
    width: 1300px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.left{
    width: 25%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 10px;
}

.reg_auth, .banner {
    background: #D9D9D9;
    padding: 20px;
}

.banner {
    margin-top: 20px;
}

.group_form {
    display: flex;
    margin: 20px;
    font-size: 16px;
    align-items: center;
}

.group_form div:first-child{
    width: 40%;
    padding-right: 8px;
}

.group_form input[type='text'],.group_form input[type='password']{
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 8px;
}

.conteiner{
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 10px;
    padding: 15px;
}


.conteiner h1 {
    text-align: center;
}

.logo img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
}

.rep_password{
    display: block ;
    text-align: center;
}

.rep_password a{
    color: #000;
    text-decoration: none;
}

.reg {
    margin: 52px;
}

.auth, .reg{
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}
